In [1]:
import pandas as pd
from glob import glob
import datetime as dt
import warnings
warnings.filterwarnings('ignore')

## load the data

In [2]:
file_list = glob('data/*.csv')
file_list

['data/NY Weather Data - Apr 14 - Jul 14.csv',
 'data/uber-raw-data-apr14.csv',
 'data/uber-raw-data-jun14.csv',
 'data/uber-raw-data-may14.csv']

In [3]:
file_list = glob('data/*.csv')
df = pd.DataFrame()
for file in file_list[1:]:
    df = df.append(pd.read_csv(file))

In [4]:
df = df.reset_index(drop=True)

In [5]:
df.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

## data wrangling in weather dataset

In [7]:
weather = pd.read_csv('data/NY Weather Data - Apr 14 - Jul 14.csv')

In [8]:
weather['Unnamed: 20'] = weather['Unnamed: 20'].astype('str')

In [9]:
def rain(x):
    if 'Rain' in x:
        return 'Rain'
    else:
        return 'NoRain'

In [10]:
weather['weather'] = weather['Unnamed: 20'].apply(rain)

In [11]:
weather = weather[['2014', 'weather']]

In [12]:
apr = weather.iloc[1:31,:]
apr['2014'] = apr['2014'].apply(lambda x:'2014-04-'+x)
apr['2014'] = pd.to_datetime(apr['2014'])

In [13]:
may = weather.iloc[33:64, :]
may['2014'] = may['2014'].apply(lambda x:'2014-05-'+x)
may['2014'] = pd.to_datetime(may['2014'])

In [14]:
jun = weather.iloc[66:96, :]
jun['2014'] = jun['2014'].apply(lambda x:'2014-06-'+x)
jun['2014'] = pd.to_datetime(jun['2014'])

In [15]:
weather = apr.append([may, jun])

In [16]:
df['Date/Time'] = pd.to_datetime(df['Date/Time'])
df['date'] = df['Date/Time'].dt.strftime('%m-%d')

In [17]:
weather['2014'] = weather['2014'].dt.strftime('%m-%d')

In [18]:
df.head()

            Date/Time      Lat      Lon    Base   date
0 2014-04-01 00:11:00  40.7690 -73.9549  B02512  04-01
1 2014-04-01 00:17:00  40.7267 -74.0345  B02512  04-01
2 2014-04-01 00:21:00  40.7316 -73.9873  B02512  04-01
3 2014-04-01 00:28:00  40.7588 -73.9776  B02512  04-01
4 2014-04-01 00:33:00  40.7594 -73.9722  B02512  04-01

In [19]:
weather.head()

    2014 weather
1  04-01  NoRain
2  04-02    Rain
3  04-03    Rain
4  04-04    Rain
5  04-05    Rain

## Merge the uber trip data with weather data

In [20]:
df = df.merge(weather, left_on='date', right_on='2014' )

In [21]:
df = df[['Date/Time', 'Lat', 'Lon', 'weather']]

In [22]:
df.head()

            Date/Time      Lat      Lon weather
0 2014-04-01 00:11:00  40.7690 -73.9549  NoRain
1 2014-04-01 00:17:00  40.7267 -74.0345  NoRain
2 2014-04-01 00:21:00  40.7316 -73.9873  NoRain
3 2014-04-01 00:28:00  40.7588 -73.9776  NoRain
4 2014-04-01 00:33:00  40.7594 -73.9722  NoRain

In [47]:
df.shape

(1880795, 5)

## Find Neighborhood Tabulation Areas (NTA name) for each trip record with Geopandas

In [63]:
import geopandas as gp
from shapely.geometry import Polygon, Pointx

ImportError: cannot import name 'Pointx' from 'shapely.geometry' (/Users/zheng/anaconda3/lib/python3.7/site-packages/shapely/geometry/__init__.py)

In [34]:
FRC = gp.read_file('nynta_19d/nynta.shp')
geometry = [Point(xy) for xy in zip(df['Lon'], df['Lat'])]
test = gp.GeoDataFrame(df, geometry=geometry)

In [38]:
test.crs={'init':'epsg:4326', 'no_defs':True}
test=test.to_crs(epsg=2263)
test

,Date/Time,Lat,Lon,weather,geometry
0,2014-04-01 00:11:00,40.7690,-73.9549,NoRain,POINT (996742.422 219447.424)
1,2014-04-01 00:17:00,40.7267,-74.0345,NoRain,POINT (974687.643 204034.843)
2,2014-04-01 00:21:00,40.7316,-73.9873,NoRain,POINT (987769.797 205818.438)
3,2014-04-01 00:28:00,40.7588,-73.9776,NoRain,POINT (990455.612 215728.806)
4,2014-04-01 00:33:00,40.7594,-73.9722,NoRain,POINT (991951.539 215947.834)
5,2014-04-01 00:33:00,40.7383,-74.0403,NoRain,POINT (973082.003 208261.772)
6,2014-04-01 00:39:00,40.7223,-73.9887,NoRain,POINT (987382.225 202430.106)
7,2014-04-01 00:45:00,40.7620,-73.9790,NoRain,POINT (990067.482 216894.574)
8,2014-04-01 00:55:00,40.7524,-73.9960,NoRain,POINT (985358.252 213396.309)
9,2014-04-01 01:01:00,40.7575,-73.9846,NoRain,POINT (988516.442 215254.755)
10,2014-04-01 01:19:00,40.7256,-73.9869,NoRain,POINT (987880.984 203632.467)
11,2014-04-01 01:48:00,40.7591,-73.9684,NoRain,POINT (993004.306 215838.891)
12,2014-04-01 01:49:00,40.7271,-73.9803,NoRain,POINT (989710.212 204179.306)
13,2014-04-01 02:11:00,40.6463,-73.7896,NoRain,POINT (1042636.822 174811.016)
14,2014-04-01 02:25:00,40.7564,-73.9167,NoRain,POINT (1007327.949 214864.587)
15,2014-04-01 02:31:00,40.7666,-73.9531,NoRain,POINT (997241.479 218573.287)
16,2014-04-01 02:43:00,40.7580,-73.9761,NoRain,POINT (990871.246 215437.449)
17,2014-04-01 03:22:00,40.7238,-73.9821,NoRain,POINT (989211.555 202976.907)
18,2014-04-01 03:35:00,40.7531,-74.0039,NoRain,POINT (983169.466 213651.341)
19,2014-04-01 03:35:00,40.7389,-74.0393,NoRain,POINT (973359.222 208480.245)
20,2014-04-01 03:41:00,40.7619,-73.9715,NoRain,POINT (992145.166 216858.728)
21,2014-04-01 04:11:00,40.7530,-74.0042,NoRain,POINT (983086.346 213614.911)
22,2014-04-01 04:15:00,40.6561,-73.9531,NoRain,POINT (997263.033 178314.790)
23,2014-04-01 04:19:00,40.7250,-73.9844,NoRain,POINT (988573.959 203413.982)
24,2014-04-01 04:20:00,40.6950,-74.1783,NoRain,POINT (934807.155 192534.010)
25,2014-04-01 04:26:00,40.9859,-74.1578,NoRain,POINT (940682.753 298508.795)
26,2014-04-01 04:27:00,40.6879,-74.1814,NoRain,POINT (933942.165 189949.042)
27,2014-04-01 04:38:00,40.6878,-74.1816,NoRain,POINT (933886.623 189912.724)
28,2014-04-01 04:47:00,40.7234,-73.9974,NoRain,POINT (984970.677 202830.679)
29,2014-04-01 04:49:00,40.7336,-73.9900,NoRain,POINT (987021.411 206547.003)
...,...,...,...,...,...
1880765,2014-05-31 22:45:00,40.7621,-73.9862,NoRain,POINT (988072.911 216930.611)
1880766,2014-05-31 22:47:00,40.8025,-73.9643,NoRain,POINT (994133.706 231651.417)
1880767,2014-05-31 22:51:00,40.7108,-73.9361,NoRain,POINT (1001965.373 198246.564)
1880768,2014-05-31 22:52:00,40.6937,-73.9440,NoRain,POINT (999779.193 192015.026)
1880769,2014-05-31 22:53:00,40.7396,-73.9980,NoRain,POINT (984804.232 208732.841)
1880770,2014-05-31 22:54:00,40.6449,-73.7822,NoRain,POINT (1044691.615 174305.979)
1880771,2014-05-31 22:54:00,40.7708,-73.9925,NoRain,POINT (986327.398 220100.097)
1880772,2014-05-31 22:56:00,40.7781,-73.9852,NoRain,POINT (988348.949 222759.989)
1880773,2014-05-31 22:58:00,40.7913,-73.9775,NoRain,POINT (990480.275 227569.653)
1880774,2014-05-31 23:00:00,40.6731,-73.9996,NoRain,POINT (984360.957 184504.886)
1880775,2014-05-31 23:06:00,40.7342,-73.9988,NoRain,POINT (984582.566 206765.446)
1880776,2014-05-31 23:09:00,40.7764,-73.9581,NoRain,POINT (995854.752 222143.051)
1880777,2014-05-31 23:09:00,40.7620,-73.9862,NoRain,POINT (988072.917 216894.178)
1880778,2014-05-31 23:10:00,40.7646,-73.9622,NoRain,POINT (994721.059 217843.402)
1880779,2014-05-31 23:12:00,40.7485,-73.9887,NoRain,POINT (987380.994 211975.590)
1880780,2014-05-31 23:15:00,40.7245,-73.9987,NoRain,POINT (984610.333 203231.435)
1880781,2014-05-31 23:17:00,40.7565,-73.9829,NoRain,POINT (988987.484 214890.510)
1880782,2014-05-31 23:20:00,40.7510,-73.9823,NoRain,POINT (989154.116 212886.714)
1880783,2014-05-31 23:26:00,40.6683,-73.9842,NoRain,POINT (988633.120 182756.504)
1880784,2014-05-31 23:27:00,40.7481,-73.9167,NoRain,POINT (1007330.825 211840.630)
1880785,2014-05-31 23:27:00,40.7096,-73.9497,NoRain,POINT (998195.217 197806.910)
1880786,2014-05-31 23:28:00,40.7300,-73.9576,NoRain,POINT (996001.416 205238.097)
1880787,2014-05-31 23:30:00,40.7448,-73.9952,NoRain,POINT (985580.054 210627.396)
1880788,2014-05-31 23:34:00,40.7244,-73.9786,NoRain,POINT (990181.638 203195.723)
1880789,2014-05-31 23:34:00,40.6698,-73.9622,NoRain,POINT (994735.963 183304.864)
1880790,2014-05-31 23:45:00,40.7309,-74.0014,NoRain,POINT (983861.987 205563.154)
1880791,2014-05-31 23:52:00,40.7528,-73.9798,NoRain,POINT (989846.637 213542.662)
1880792,2014-05-31 23:55:00,40.7158,-73.9519,NoRain,POINT (997584.046 200065.416)
1880793,2014-05-31 23:56:00,40.6961,-73.8997,NoRain,POINT (1012062.888 192900.376)
1880794,2014-05-31 23:59:00,40.7393,-73.9919,NoRain,POINT (986494.651 208623.639)

In [48]:
test.shape

(1880795, 5)

In [40]:
pointInPolys = gp.sjoin(test, FRC, how='left', op='within')

,Date/Time,Lat,Lon,weather,geometry,index_right,BoroCode,BoroName,CountyFIPS,NTACode,NTAName,Shape_Leng,Shape_Area
0,2014-04-01 00:11:00,40.7690,-73.9549,NoRain,POINT (996742.422 219447.424),169.0,1.0,Manhattan,061,MN31,Lenox Hill-Roosevelt Island,39424.225707,2.150862e+07
1,2014-04-01 00:17:00,40.7267,-74.0345,NoRain,POINT (974687.643 204034.843),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-04-01 00:21:00,40.7316,-73.9873,NoRain,POINT (987769.797 205818.438),120.0,1.0,Manhattan,061,MN22,East Village,13555.239451,1.089432e+07
3,2014-04-01 00:28:00,40.7588,-73.9776,NoRain,POINT (990455.612 215728.806),82.0,1.0,Manhattan,061,MN17,Midtown-Midtown South,27032.700224,3.019153e+07
4,2014-04-01 00:33:00,40.7594,-73.9722,NoRain,POINT (991951.539 215947.834),167.0,1.0,Manhattan,061,MN19,Turtle Bay-East Midtown,21124.054187,1.738916e+07
5,2014-04-01 00:33:00,40.7383,-74.0403,NoRain,POINT (973082.003 208261.772),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2014-04-01 00:39:00,40.7223,-73.9887,NoRain,POINT (987382.225 202430.106),77.0,1.0,Manhattan,061,MN27,Chinatown,20786.256110,1.450187e+07
7,2014-04-01 00:45:00,40.7620,-73.9790,NoRain,POINT (990067.482 216894.574),82.0,1.0,Manhattan,061,MN17,Midtown-Midtown South,27032.700224,3.019153e+07
8,2014-04-01 00:55:00,40.7524,-73.9960,NoRain,POINT (985358.252 213396.309),122.0,1.0,Manhattan,061,MN13,Hudson Yards-Chelsea-Flatiron-Union Square,45693.074599,3.706838e+07
9,2014-04-01 01:01:00,40.7575,-73.9846,NoRain,POINT (988516.442 215254.755),82.0,1.0,Manhattan,061,MN17,Midtown-Midtown South,27032.700224,3.019153e+07
10,2014-04-01 01:19:00,40.7256,-73.9869,NoRain,POINT (987880.984 203632.467),120.0,1.0,Manhattan,061,MN22,East Village,13555.239451,1.089432e+07
11,2014-04-01 01:48:00,40.7591,-73.9684,NoRain,POINT (993004.306 215838.891),167.0,1.0,Manhattan,061,MN19,Turtle Bay-East Midtown,21124.054187,1.738916e+07
12,2014-04-01 01:49:00,40.7271,-73.9803,NoRain,POINT (989710.212 204179.306),120.0,1.0,Manhattan,061,MN22,East Village,13555.239451,1.089432e+07
13,2014-04-01 02:11:00,40.6463,-73.7896,NoRain,POINT (1042636.822 174811.016),174.0,4.0,Queens,081,QN98,Airport,136232.037479,2.281992e+08
14,2014-04-01 02:25:00,40.7564,-73.9167,NoRain,POINT (1007327.949 214864.587),147.0,4.0,Queens,081,QN70,Astoria,32534.738402,3.933551e+07
15,2014-04-01 02:31:00,40.7666,-73.9531,NoRain,POINT (997241.479 218573.287),169.0,1.0,Manhattan,061,MN31,Lenox Hill-Roosevelt Island,39424.225707,2.150862e+07
16,2014-04-01 02:43:00,40.7580,-73.9761,NoRain,POINT (990871.246 215437.449),82.0,1.0,Manhattan,061,MN17,Midtown-Midtown South,27032.700224,3.019153e+07
17,2014-04-01 03:22:00,40.7238,-73.9821,NoRain,POINT (989211.555 202976.907),114.0,1.0,Manhattan,061,MN28,Lower East Side,25466.691374,2.329728e+07
18,2014-04-01 03:35:00,40.7531,-74.0039,NoRain,POINT (983169.466 213651.341),122.0,1.0,Manhattan,061,MN13,Hudson Yards-Chelsea-Flatiron-Union Square,45693.074599,3.706838e+07
19,2014-04-01 03:35:00,40.7389,-74.0393,NoRain,POINT (973359.222 208480.245),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2014-04-01 03:41:00,40.7619,-73.9715,NoRain,POINT (992145.166 216858.728),82.0,1.0,Manhattan,061,MN17,Midtown-Midtown South,27032.700224,3.019153e+07
21,2014-04-01 04:11:00,40.7530,-74.0042,NoRain,POINT (983086.346 213614.911),122.0,1.0,Manhattan,061,MN13,Hudson Yards-Chelsea-Flatiron-Union Square,45693.074599,3.706838e+07
22,2014-04-01 04:15:00,40.6561,-73.9531,NoRain,POINT (997263.033 178314.790),86.0,3.0,Brooklyn,047,BK60,Prospect Lefferts Gardens-Wingate,29562.442687,3.163897e+07
23,2014-04-01 04:19:00,40.7250,-73.9844,NoRain,POINT (988573.959 203413.982),120.0,1.0,Manhattan,061,MN22,East Village,13555.239451,1.089432e+07
24,2014-04-01 04:20:00,40.6950,-74.1783,NoRain,POINT (934807.155 192534.010),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2014-04-01 04:26:00,40.9859,-74.1578,NoRain,POINT (940682.753 298508.795),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2014-04-01 04:27:00,40.6879,-74.1814,NoRain,POINT (933942.165 189949.042),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2014-04-01 04:38:00,40.6878,-74.1816,NoRain,POINT (933886.623 189912.724),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2014-04-01 04:47:00,40.7234,-73.9974,NoRain,POINT (984970.677 202830.679),121.0,1.0,Manhattan,061,MN24,SoHo-TriBeCa-Civic Center-Little Italy,26855.032328,2.503269e+07
29,2014-04-01 04:49:00,40.7336,-73.9900,NoRain,POINT (987021.411 206547.003),123.0,1.0,Manhattan,061,MN23,West Village,28621.650991,2.497065e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1880765,2014-05-31 22:45:00,40.7621,-73.9862,NoRain,POINT (988072.911 216930.611),82.0,1.0,Manhattan,061,MN17,Midtown-Midtown South,27032.700224,3.019153e+07
1880766,2014-05-31 22:47:00,40.8025,-73.9643,NoRain,POINT (994133.706 231651.417),165.0,1.0,Manhattan,061,MN09,Morningside Heights,20746.058456,2.015587e+07
1880767,2014-05-31 22:51:00,40.7108,-73.9361,NoRain,POINT (1001965.373 198246.564),33.0,3.0,Brooklyn,047,BK78,Bushwick South,40735.742179,4.016945e+07
1880768,2014-05-31 22:52:00,40.6937,-73.9440,NoRain,POINT (999779.193 192015.026),24.0,3.0,Brooklyn,047,BK75,Bedford,29992.923800,3.262979e+07
1880769,2014-05-31 22:53:00,40.7396,-73.9980,NoRain,POINT (984804.232 208732.841),122.0,1.0,Manhattan,061,MN13,Hudson Yards-Chelsea-Flatiron-Union Square,45693.074599,3.706838e+07
1880770,2014-05-31 22:54:00,40.6449,-73.7822,NoRain,POINT (1044691.615 174305.979),174.0,4.0,Queens,081,QN98,Airport,136232.037479,2.281992e+08
1880771,2014-05-31 22:54:00,40.7708,-73.9925,NoRain,POINT (986327.398 220100.097),48.0,1.0,Manhattan,061,MN15,Clinton,34481.628774,1.836215e+07
1880772,2014-05-31 22:56:00,40.7781,-73.9852,NoRain,POINT (988348.949 222759.989),81.0,1.0,Manhattan,061,MN14,Lincoln Square,19869.908320,1.580559e+07
1880773,2014-05-31 22:58:00,40.7913,-73.9775,NoRain,POINT (990480.275 227569.653),124.0,1.0,Manhattan,061,MN12,Upper West Side,29160.206280,3.437994e+07
1880774,2014-05-31 23:00:00,40.6731,-73.9996,NoRain,POINT (984360.957 184504.886),156.0,3.0,Brooklyn,047,BK33,Carroll Gardens-Columbia Street-Red Hook,60820.884163,4.460138e+07
1880775,2014-05-31 23:06:00,40.7342,-73.9988,NoRain,POINT (984582.566 206765.446),123.0,1.0,Manhattan,061,MN23,West Village,28621.650991,2.497065e+07
1880776,2014-05-31 23:09:00,40.7764,-73.9581,NoRain,POINT (995854.752 222143.051),83.0,1.0,Manhattan,061,MN40,Upper East Side-Carnegie Hill,23778.410519,2.006536e+07
1880777,2014-05-31 23:09:00,40.7620,-73.9862,NoRain,POINT (988072.917 216894.178),82.0,1.0,Manhattan,061,MN17,Midtown-Midtown South,27032.700224,3.019153e+07
1880778,2014-05-31 23:10:00,40.7646,-73.9622,NoRain,POINT (994721.059 217843.402),169.0,1.0,Manhattan,061,MN31,Lenox Hill-Roosevelt Island,39424.225707,2.150862e+07
1880779,2014-05-31 23:12:00,40.7485,-73.9887,NoRain,POINT (987380.994 211975.590),82.0,1.0,Manhattan,061,MN17,Midtown-Midtown South,27032.700224,3.019153e+07
1880780,2014-05-31 23:15:00,40.7245,-73.9987,NoRain,POINT (984610.333 203231.435),121.0,1.0,Manhattan,061,MN24,SoHo-TriBeCa-Civic Center-Little Italy,26855.032328,2.503269e+07
1880781,2014-05-31 23:17:00,40.7565,-73.9829,NoRain,POINT (988987.484 214890.510),82.0,1.0,Manhattan,061,MN17,Midtown-Midtown South,27032.700224,3.019153e+07
1880782,2014-05-31 23:20:00,40.7510,-73.9823,NoRain,POINT (989154.116 212886.714),158.0,1.0,Manhattan,061,MN20,Murray Hill-Kips Bay,24491.310570,1.448587e+07
1880783,2014-05-31 23:26:00,40.6683,-73.9842,NoRain,POINT (988633.120 182756.504),103.0,3.0,Brooklyn,047,BK37,Park Slope-Gowanus,31476.809088,4.250923e+07
1880784,2014-05-31 23:27:00,40.7481,-73.9167,NoRain,POINT (1007330.825 211840.630),168.0,4.0,Queens,081,QN31,Hunters Point-Sunnyside-West Maspeth,74592.142612,1.024218e+08
1880785,2014-05-31 23:27:00,40.7096,-73.9497,NoRain,POINT (998195.217 197806.910),143.0,3.0,Brooklyn,047,BK90,East Williamsburg,49247.026969,3.913279e+07
1880786,2014-05-31 23:28:00,40.7300,-73.9576,NoRain,POINT (996001.416 205238.097),157.0,3.0,Brooklyn,047,BK76,Greenpoint,28914.354913,3.532200e+07
1880787,2014-05-31 23:30:00,40.7448,-73.9952,NoRain,POINT (985580.054 210627.396),122.0,1.0,Manhattan,061,MN13,Hudson Yards-Chelsea-Flatiron-Union Square,45693.074599,3.706838e+07
1880788,2014-05-31 23:34:00,40.7244,-73.9786,NoRain,POINT (990181.638 203195.723),114.0,1.0,Manhattan,061,MN28,Lower East Side,25466.691374,2.329728e+07
1880789,2014-05-31 23:34:00,40.6698,-73.9622,NoRain,POINT (994735.963 183304.864),28.0,3.0,Brooklyn,047,BK63,Crown Heights South,24192.455932,1.598989e+07
1880790,2014-05-31 23:45:00,40.7309,-74.0014,NoRain,POINT (983861.987 205563.154),123.0,1.0,Manhattan,061,MN23,West Village,28621.650991,2.497065e+07
1880791,2014-05-31 23:52:00,40.7528,-73.9798,NoRain,POINT (989846.637 213542.662),158.0,1.0,Manhattan,061,MN20,Murray Hill-Kips Bay,24491.310570,1.448587e+07
1880792,2014-05-31 23:55:00,40.7158,-73.9519,NoRain,POINT (997584.046 200065.416),72.0,3.0,Brooklyn,047,BK73,North Side-South Side,28149.979953,2.886977e+07
1880793,2014-05-31 23:56:00,40.6961,-73.8997,NoRain,POINT (1012062.888 192900.376),35.0,4.0,Queens,081,QN20,Ridgewood,40608.513198,5.049518e+07
1880794,2014-05-31 23:59:00,40.7393,-73.9919,NoRain,POINT (986494.651 208623.639),122.0,1.0,Manhattan,061,MN13,Hudson Yards-Chelsea-Flatiron-Union Square,45693.074599,3.706838e+07

In [42]:
pointInPolys.head(3)

,Date/Time,Lat,Lon,weather,geometry,index_right,BoroCode,BoroName,CountyFIPS,NTACode,NTAName,Shape_Leng,Shape_Area
0,2014-04-01 00:11:00,40.7690,-73.9549,NoRain,POINT (996742.422 219447.424),169.0,1.0,Manhattan,061,MN31,Lenox Hill-Roosevelt Island,39424.225707,2.150862e+07
1,2014-04-01 00:17:00,40.7267,-74.0345,NoRain,POINT (974687.643 204034.843),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-04-01 00:21:00,40.7316,-73.9873,NoRain,POINT (987769.797 205818.438),120.0,1.0,Manhattan,061,MN22,East Village,13555.239451,1.089432e+07

In [43]:
pointInPolys.BoroName.unique()

array(['Manhattan', nan, 'Queens', 'Brooklyn', 'Bronx', 'Staten Island'],
      dtype=object)

In [53]:
pointInPolys.NTAName.nunique()

192

In [32]:
df.head(3)

            Date/Time      Lat      Lon weather
0 2014-04-01 00:11:00  40.7690 -73.9549  NoRain
1 2014-04-01 00:17:00  40.7267 -74.0345  NoRain
2 2014-04-01 00:21:00  40.7316 -73.9873  NoRain

In [41]:
FRC.head(3)

,BoroCode,BoroName,CountyFIPS,NTACode,NTAName,Shape_Leng,Shape_Area,geometry
0,3,Brooklyn,047,BK88,Borough Park,39247.227831,5.400502e+07,"POLYGON ((990897.900 169268.121, 990588.252 16..."
1,4,Queens,081,QN51,Murray Hill,33266.904797,5.248828e+07,"POLYGON ((1038593.459 221913.355, 1039369.281 ..."
2,4,Queens,081,QN27,East Elmhurst,19816.712074,1.972685e+07,"POLYGON ((1022728.275 217530.808, 1023052.645 ..."

In [31]:
FRC.BoroName.unique()

array(['Brooklyn', 'Queens', 'Manhattan', 'Bronx', 'Staten Island'],
      dtype=object)

In [49]:
pointInPolys.shape

(1880795, 13)

In [50]:
pointInPolys.head(3)

,Date/Time,Lat,Lon,weather,geometry,index_right,BoroCode,BoroName,CountyFIPS,NTACode,NTAName,Shape_Leng,Shape_Area
0,2014-04-01 00:11:00,40.7690,-73.9549,NoRain,POINT (996742.422 219447.424),169.0,1.0,Manhattan,061,MN31,Lenox Hill-Roosevelt Island,39424.225707,2.150862e+07
1,2014-04-01 00:17:00,40.7267,-74.0345,NoRain,POINT (974687.643 204034.843),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-04-01 00:21:00,40.7316,-73.9873,NoRain,POINT (987769.797 205818.438),120.0,1.0,Manhattan,061,MN22,East Village,13555.239451,1.089432e+07

In [54]:
pointInPolys.isnull().sum()

Date/Time          0
Lat                0
Lon                0
weather            0
geometry           0
index_right    46666
BoroCode       46666
BoroName       46666
CountyFIPS     46666
NTACode        46666
NTAName        46666
Shape_Leng     46666
Shape_Area     46666
dtype: int64

In [61]:
final_data = pointInPolys.dropna()[['Date/Time', 'weather', 'NTAName']]
final_data

,Date/Time,weather,NTAName
0,2014-04-01 00:11:00,NoRain,Lenox Hill-Roosevelt Island
2,2014-04-01 00:21:00,NoRain,East Village
3,2014-04-01 00:28:00,NoRain,Midtown-Midtown South
4,2014-04-01 00:33:00,NoRain,Turtle Bay-East Midtown
6,2014-04-01 00:39:00,NoRain,Chinatown
7,2014-04-01 00:45:00,NoRain,Midtown-Midtown South
8,2014-04-01 00:55:00,NoRain,Hudson Yards-Chelsea-Flatiron-Union Square
9,2014-04-01 01:01:00,NoRain,Midtown-Midtown South
10,2014-04-01 01:19:00,NoRain,East Village
11,2014-04-01 01:48:00,NoRain,Turtle Bay-East Midtown
12,2014-04-01 01:49:00,NoRain,East Village
13,2014-04-01 02:11:00,NoRain,Airport
14,2014-04-01 02:25:00,NoRain,Astoria
15,2014-04-01 02:31:00,NoRain,Lenox Hill-Roosevelt Island
16,2014-04-01 02:43:00,NoRain,Midtown-Midtown South
17,2014-04-01 03:22:00,NoRain,Lower East Side
18,2014-04-01 03:35:00,NoRain,Hudson Yards-Chelsea-Flatiron-Union Square
20,2014-04-01 03:41:00,NoRain,Midtown-Midtown South
21,2014-04-01 04:11:00,NoRain,Hudson Yards-Chelsea-Flatiron-Union Square
22,2014-04-01 04:15:00,NoRain,Prospect Lefferts Gardens-Wingate
23,2014-04-01 04:19:00,NoRain,East Village
28,2014-04-01 04:47:00,NoRain,SoHo-TriBeCa-Civic Center-Little Italy
29,2014-04-01 04:49:00,NoRain,West Village
30,2014-04-01 05:08:00,NoRain,SoHo-TriBeCa-Civic Center-Little Italy
31,2014-04-01 05:12:00,NoRain,Upper West Side
32,2014-04-01 05:18:00,NoRain,Lincoln Square
33,2014-04-01 05:19:00,NoRain,Clinton
35,2014-04-01 05:24:00,NoRain,Hudson Yards-Chelsea-Flatiron-Union Square
36,2014-04-01 05:24:00,NoRain,Lincoln Square
37,2014-04-01 05:27:00,NoRain,Airport
...,...,...,...
1880765,2014-05-31 22:45:00,NoRain,Midtown-Midtown South
1880766,2014-05-31 22:47:00,NoRain,Morningside Heights
1880767,2014-05-31 22:51:00,NoRain,Bushwick South
1880768,2014-05-31 22:52:00,NoRain,Bedford
1880769,2014-05-31 22:53:00,NoRain,Hudson Yards-Chelsea-Flatiron-Union Square
1880770,2014-05-31 22:54:00,NoRain,Airport
1880771,2014-05-31 22:54:00,NoRain,Clinton
1880772,2014-05-31 22:56:00,NoRain,Lincoln Square
1880773,2014-05-31 22:58:00,NoRain,Upper West Side
1880774,2014-05-31 23:00:00,NoRain,Carroll Gardens-Columbia Street-Red Hook
1880775,2014-05-31 23:06:00,NoRain,West Village
1880776,2014-05-31 23:09:00,NoRain,Upper East Side-Carnegie Hill
1880777,2014-05-31 23:09:00,NoRain,Midtown-Midtown South
1880778,2014-05-31 23:10:00,NoRain,Lenox Hill-Roosevelt Island
1880779,2014-05-31 23:12:00,NoRain,Midtown-Midtown South
1880780,2014-05-31 23:15:00,NoRain,SoHo-TriBeCa-Civic Center-Little Italy
1880781,2014-05-31 23:17:00,NoRain,Midtown-Midtown South
1880782,2014-05-31 23:20:00,NoRain,Murray Hill-Kips Bay
1880783,2014-05-31 23:26:00,NoRain,Park Slope-Gowanus
1880784,2014-05-31 23:27:00,NoRain,Hunters Point-Sunnyside-West Maspeth
1880785,2014-05-31 23:27:00,NoRain,East Williamsburg
1880786,2014-05-31 23:28:00,NoRain,Greenpoint
1880787,2014-05-31 23:30:00,NoRain,Hudson Yards-Chelsea-Flatiron-Union Square
1880788,2014-05-31 23:34:00,NoRain,Lower East Side
1880789,2014-05-31 23:34:00,NoRain,Crown Heights South
1880790,2014-05-31 23:45:00,NoRain,West Village
1880791,2014-05-31 23:52:00,NoRain,Murray Hill-Kips Bay
1880792,2014-05-31 23:55:00,NoRain,North Side-South Side
1880793,2014-05-31 23:56:00,NoRain,Ridgewood
1880794,2014-05-31 23:59:00,NoRain,Hudson Yards-Chelsea-Flatiron-Union Square

In [64]:
pointInPolys.to_csv('final-uber-trip-data.csv')